@model LibrarieOnline.Model.User


@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.UserName) <span>:</span>
    @Html.TextBoxFor(u => u.UserName)

    <br />
    <br />

    @Html.LabelFor(u => u.Password) <span>:</span>
    @Html.PasswordFor(u => u.Password)

    <br />

    <p><input type="submit" value="Log in" /></p>

}



