@model LibrarieOnline.Model.User


@using (Html.BeginForm())
{

    @Html.TextBoxFor(u => u.UserName) <br><br>
    @Html.TextBoxFor(u => u.Password) <br> <br>

    <div id="roluri">

    </div>

    <p><input type="submit" value="Register" /></p>

}

    <script>
    $(document).ready(function () {
    //Pentru a incarca rolurile din baza de date si a le afisa.
    $.ajax({
        type: 'POST',
        url: '@Url.Action("GetRoles", "Auth")',
        success: function (rolurile) {
            $.each(rolurile, function (i, src) {
                $('<input />',
                    {
                        type: 'radio',
                        value: rolurile[i].RoleId,
                        name: "RoleId" // Aceasta proprietate, "name", trebuie sa fie identica cu proprietatea la care vrem sa-i facem binding (in acest caz este prop "Rolul" din modelul "UserViewModel")
                    }).appendTo("#roluri");
                $("#roluri").append(rolurile[i].Role);
                $("#roluri").append("<br/>");
            });
        },
        error: function (data) {
            console.log(data);
            alert("status code: " + data.status + "; " + "status text: " + data.statusText + ";");
        }
        });
    });
    </script>


