<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.ActionLink("Home","Index","Home")
    @Html.ActionLink("About","About","Home",new { }, new { })
    <div>
        @RenderBody()
    </div>
</body>
</html>